<div id="devgraftFoot" class="footer_comm" role="contentinfo">
    <h2 class="screen_out">서비스 이용정보</h2>
    <div class="service_info">
        <a href="" class="link_info">이용약관</a>
        <a href="https://pcloud.tistory.com/" class="link_info">블로그</a>
        <a href="https://github.com/PCloud63514" class="link_info">깃허브</a>
        <br/>
        <small class="txt_copyright">Copyright &copy; <a href="" class="link_none">Public.</a>
            All rights reserved.
        </small>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>