<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>Monolith-Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style type="text/css">
        h2 {
            font-size: 0
        }

        .wrap_banner {
            display: flex;
            height: 600px;
            justify-content: center;
            align-items: center;
        }

        .info_banner {
            display: block;
            align-items: center;
        }

        .login_banner {
            display: flex;
            flex-direction: column;
            border: solid 1px gray;
            border-radius: 5px;
        }

        .title_banner {
            margin-top: 5px;
            font-size: 25px;
            line-height: 32px
        }

        .desc_banner {
            margin-top: 5px;
            font-size: 18px;
            line-height: 18px
        }

        .input {
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid black;
        }

        .header_comm {
            background: #4c78ab;
            position: fixed;
            width: 100%;
            height: 45px;
        }

        .header_comm>* {
            line-height: 45px;
            color: #fff;
            float: left;
        }

        .header_comm .header_left {
            padding-left: 15px;
        }

        .header_comm .header_center {
            visibility: hidden;
        }

        .header_comm .header_right {
            float: right;
            padding-right: 15px;
            right: 0;
        }

        .footer_comm {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .footer_comm {
            display: inline;
            width: 100%;
            text-align: center;
        }

        .footer_comm .service_info {
        }

        .footer_comm .link_info {

        }

        .footer_comm .txt_copyright {

        }

    </style>
</head>
<body>
<h1 id="Monolith-Shop"></h1>
<div class="header_comm">
    <div class="header_left">
        WEB PERK
    </div>
    <div class="header_center">
        DEV_CENTER
    </div>
    <div class="header_right">
        DEV-RIGHT
    </div>
</div>